*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 213vh;
    background-image: url(fundo.png);
    background-position: center;
    background-size: cover;
}

section.lista .container .conteudo .top h1{
    text-align: center;
    margin-bottom: 2%;
    font-size: 2.2em;
    color: rgb(18, 161, 204);
}

section.lista .container .conteudo .busca{
    margin-bottom: 2%;
}

section.lista{
    width: 100%;
}
section.lista .container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}
section.lista .container .conteudo{
    background:rgb(247, 247, 247);
    max-width: 100%;
    height: 1420px;
    padding: 40px;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 2%;
}

section.lista .container .conteudo .colunas{
    display: flex;
    flex-wrap: nowrap;
    padding: 8px;
    border: 2px solid rgb(7, 151, 218);
    color:rgb(0, 0, 0);
    font-size: 1.2em;
    line-height: 1.4em;
}
section.lista .container .conteudo .left{
    width: 50%;
    border-right: 2px solid rgb(7, 151, 218);
    margin-right: 2%;
}
section.lista .container .conteudo .right{
    width: 50%;
}

section.lista .container .paginacao{
    text-align: center;
    max-width: 1280px;
    margin-top: 2%;
}
section.lista .container .paginacao a{
    border: 1px solid rgba(83, 83, 83, 0.522);
    text-decoration: none;
    color:rgb(18, 161, 204);
    font-size: 1.2em;
    padding: 5px 14px;
}
section.lista .container .paginacao a:hover{
    background: rgb(57, 141, 252);
    color: rgb(255, 255, 255);
}